<div class="container-fluid">
    <div class="row align-items-center heading">
        <div class="col p-0">
            <h1 class="h1" data-aos="fade-left">
                Contact
                <br/>&nbsp;&nbsp;Me.
            </h1>
        </div>
    </div>
    <div class="w-100 px-4">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <form #form = "ngForm" (ngSubmit)="form.valid && submit(form)" class="contact-form">
                    <p class="text-center">
                        I'm available for freelancing. feel free to shoot me a message.
                    </p>
                    <div id="contact-form-result"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Name" required="" ngModel>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email" required="" ngModel>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="phone" placeholder="Phone" required="" ngModel>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="website" placeholder="Website" required="" ngModel>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea rows="5" class="form-control" placeholder="Message" required="" name="message" ngModel></textarea>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" [disabled]="!form.valid" class="symp-btn text-dark" style="cursor: pointer;">Send Message</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- Footer social section -->
    <div class="footer bg-lightgray section-block">					
        <div class="container">						
            <div class="row align-items-center">							
                <div class="col-sm-6">
                    <h4 class="h4">Avinash Aggarwal</h4>
                </div>
                <div class="col-sm-6">
                    <ul class="footer-social">
                        <li>
                            <a href="https://www.facebook.com/rocx.sandy">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://bitbucket.org/avinashkumar906">
                                <i class="fab fa-bitbucket"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/avi_nash906">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/avinash-a98a46a5">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>							
            </div>
        </div>	
    </div>
</div>