<div class="row align-items-center justify-content-center">
	<div class="col-md-12">
        <div class="login bg-grey">
            <form #form="ngForm" (ngSubmit)="form.valid && submit(form)" *ngIf="!isLogged()" class="text-center">
                <h2 class="h2 login-text">{{isSignInForm ? "Sign In" : "Sign Up"}}</h2>
                <input *ngIf="!isSignInForm" type="text" placeholder="* Enter name" name="name" ngModel required><br>
                <input type="text" placeholder="* Enter e-mail" name="email" ngModel required><br>
                <input type="password" placeholder="* Enter password" name="password" ngModel required><br>
                <div class="my-2">
                    <div *ngIf="isSignInForm">
                        <button type="submit" class="symp-btn my-2 w-100 d-block" [disabled]="!form.valid"><i class="fas fa-sign-in-alt"></i> Signin</button>
                        <p class="btn" (click)="toggleForm()">Click here for Sign up</p> 
                    </div>
                    <div *ngIf="!isSignInForm">
                        <button type="submit" class="symp-btn my-2 w-100 d-block" [disabled]="!form.valid"><i class="fas fa-sign"></i> Signup</button>
                        <p class="btn" (click)="toggleForm()">Click here for Sign in</p> 
                    </div>
                </div>
            </form>
        </div>
	</div>
</div>
