<div class="row align-items-center justify-content-center">
	<div class="col-md-12">
        <div class="login">
            <div *ngIf="!isLogged()"  class="text-center">
                <h4 class="h4">Login</h4>
                <input type="text" placeholder="username" name="user" [(ngModel)]="username"><br>
                <input type="password" placeholder="password" name="password" [(ngModel)]="password"><br>
                <input type="button" value="Login" (click)="submit()">
                <div> <p class="h6">Don't have username.<br>Contact Admin!</p></div>
            </div>
            <div>
                <input *ngIf="isLogged()" type="button" value="Logout" (click)="logout()">
                <input [routerLink]="['/index']" type="button" value="Home">
            </div>
        </div>
	</div>
</div>
