<div class="row align-items-center justify-content-center">
	<div class="col-md-12">
        <div class="login">
            <div *ngIf="!isLogged()"  class="text-center">
                <h4 class="h4">Login</h4>
                <input type="text" placeholder="username" name="user" [(ngModel)]="username"><br>
                <input type="password" placeholder="password" name="password" [(ngModel)]="password"><br>
                <span class="symp-btn" (click)="submit()">Login</span>
                <div> <p class="h6">Don't have username.<br>Contact Admin!</p></div>
            </div>
            <div  class="text-center">
                <span  class="symp-btn" *ngIf="isLogged()" (click)="logout()">logout</span>
                <span class="symp-btn" [routerLink]="['/index']" >Home</span>
            </div>
        </div>
	</div>
</div>
