.alert-container{
    max-width: 400px;
    position: fixed;
    bottom: 10px;
    left: 0;
    height: auto;
    width: 100vw;
    font-family: 'Lobster-bold'!important;
    letter-spacing: 2px!important;
}