<div *ngIf="alert.length>0" class="alert-container" aria-live="polite" aria-atomic="true">
    <div *ngFor="let item of temtAlert,let i = index" class="toast mx-auto show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto"><span class="badge badge-secondary">{{alert.length - i}}</span> {{item.title}}</strong>
            <small>{{item.time}}</small>
            <button type="button" (click)="dismissAlert(i)" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            {{item.message}}
        </div>
    </div>
</div>