<div [ngClass]="{'nav-icon-custom': !isOpen, 'change': isOpen}">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>

<div id="navBar" class="nav-menu-custom d-flex flex-column h-100">
    <div class="menu-header text-center">
        <h1 class="h1 p-2">Marble</h1>
    </div>
    <div class="menu-content" (click)="scrollTo($event)">
        <ul class="nav">
            <li class="nav-item">
                <a data="home" [ngClass]="{'active': currentSection === 'home'}">Home</a>
            </li>
            <li class="nav-item">
                <a data="image" [ngClass]="{'active': currentSection === 'image'}">Images</a>
            </li>
            <li class="nav-item">
                <a data="album" [ngClass]="{'active': currentSection === 'album'}">Album</a>
            </li>
            <li class="nav-item">
                <a data="contact" [ngClass]="{'active': currentSection === 'contact'}">Contact</a>
            </li>
        </ul>
    </div>

    <div class="menu-footer">
        <div class="w-100">
            <a *ngIf="isLogged()" (click)="logout()" class="symp-btn btn-dark text-light mb-1"><i class="fas fa-lock"></i> Sign out !</a>
            <a *ngIf="!isLogged()" (click)="login()" class="symp-btn btn-dark text-light mb-1"><i class="fas fa-sign-in-alt"></i> Sign in !</a>
        </div>
        <p class="p">
            <small class="d-block"> &copy; 2016 All Rights Reserved.</small>
            <small class="d-block">Designed & Developed by
                <a href="http://asquare.gq" target="_blank">asquare.gq</a>
            </small>
        </p>
    </div>

</div>
