<div #masonry class="container-fluid">
  <div class="row align-items-center heading">
    <div class="col p-0">
      <h1 class="h1" data-aos="fade-left">
          Recent <br/>&nbsp;&nbsp;Pictures.
      </h1>
    </div>
  </div>
  <div class="row m-0 bg-custom">
    <div class="w-100">
        <div class="px-4">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Search by keyword :)" [(ngModel)]="searchKey"/>
            </div>
            <div class="py-1 text-center">
                <span class="chip" [ngClass]="{'active':selectedChip == 'all'}" (click)="clear()">#Public</span>
                <span class="chip" [ngClass]="{'active':selectedChip == 'upload'}" (click)="getMyUploads()">#My Uploads</span>
                <span class="chip" [ngClass]="{'active':selectedChip == 'tag'}" (click)="getTagged()">#Tagged</span>
                <span class="chip" [ngClass]="{'active':selectedChip == 'private'}" (click)="getPrivate()">#Private</span>
                <span class="chip" [ngClass]="{'active':selectedChip == 'like'}" (click)="getLiked()">#Liked</span>
                <span class="chip" [ngClass]="{'active':selectedChip == 'favorite'}" (click)="getFavorite()">#Favorite</span>
            </div>
        </div>
    </div>
    <div class="w-100">
      <div class="card-columns px-4">
          <div class="custom-card card" *ngFor="let image of images | filter:searchKey | pagination:currentpage:numberOfItems ; let i = index" data-aos="fade-in" >
              <div class="wrapper">
                  <img (click)="openLightbox(image._id)" class="img-fluid" [src]="image.url | previewUrl:'src'" [alt]="image.alt">
                  <div class="header">
                      <div class="date">
                            <p class="p">{{ image.day }} <sup>Th</sup>{{ image.month + ', ' + image.year }}</p>
                      </div>
                      <div class="edit" *ngIf="user && (user.role == 'admin' || image.profile == user._id)">
                            <p class="p d-inline" (click)="delete(image)">Delete</p>
                            <span> | </span>
                            <p class="p d-inline" (click)="update(image)"> Update</p>
                      </div>
                  </div>
                  <div class="data">
                      <div class="content-custom">
                          <p class="author">By {{ image.author }} </p>
                          <h1 class="title">
                              {{image.title}}
                          </h1>
                          <p class="text">{{image.description}}</p>
                          <div class="icon-container">
                            <span (click)="heart(image._id)" [ngClass]="{'active': image.heart | usersFile}">{{image.heart.length}} <i class="fas fa-heart"></i></span>
                            <span (click)="like(image._id)" [ngClass]="{'active': image.likes | usersFile}">{{image.likes.length}} <i class="fas fa-thumbs-up"></i></span>
                            <span (click)="tag(image._id)" [ngClass]="{'active': image.tags | usersFile}">{{image.tags.length}} <i class="fas fa-tags"></i></span>
                          </div>
                          <a class="button py-1" (click)="downloadUrl(image.url)"><i class="fas fa-download"></i> Download</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div *ngIf="(images | filter:searchKey).length == 0"  class="no-data p-4 my-4">
          <h2 class="text-center m-auto my-5">"No result found for selected filter/Keyword"</h2>
      </div>
    </div>
    <div class="w-100">
      <nav aria-label="" class="text-dark my-2">
          <ul class="pagination justify-content-center">
              <li class="page-item">
                  <a class="page-link" (click)="firstPage(masonry)">&lt;&lt;</a>
              </li>
              <li class="page-item">
                  <a class="page-link" (click)="prevPage(masonry)">&lt;</a>
              </li>
              <li class="page-item">
                  <a class="page-link">{{currentpage + 1}}</a>
              </li>
              <li class="page-item">
                  <a class="page-link" (click)="nextPage(masonry)">&gt;</a>
              </li>
              <li class="page-item">
                  <a class="page-link" (click)="lastPage(masonry)">&gt;&gt;</a>
              </li>
          </ul>
      </nav>
    </div>
  </div>
</div>
